
<mat-toolbar color="primary">
  <span *checkPermissions>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon (click)="toggleMenu()">menu</mat-icon>
    </button>
  </span>

  <span>{{bannerLabel}}</span>
  <span class="example-spacer"></span>

  <span *checkPermissions>
    <button mat-icon-button (click)="openConfigDialog()" class="example-icon"
      aria-label="Example icon-button with share icon" #tooltip="matTooltip" matTooltip="Create or edit dashboard"
      [matTooltipPosition]="position.value!">
      <mat-icon>settings</mat-icon>
    </button>
  </span>

  <span *checkPermissions>
    <button mat-icon-button (click)="openGadgetLibraryDialog()" aria-label="Example icon-button with heart icon"
      #tooltip="matTooltip" matTooltip="Add tool" [matTooltipPosition]="position.value!">
      <mat-icon>playlist_add</mat-icon>
    </button>
  </span>

  <span *checkPermissions>
    <button mat-icon-button (click)="toggleLayout()" class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon" #tooltip="matTooltip" matTooltip="Change board layout"
      [matTooltipPosition]="position.value!">
      <mat-icon>dashboard</mat-icon>
    </button>
  </span>

  <span style="margin-left: 20px;">
    <button mat-icon-button (click)="logout()" class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon" #tooltip="matTooltip" matTooltip="Logout"
      [matTooltipPosition]="position.value!">
      <mat-icon>logout</mat-icon>
    </button>
  </span>


  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</mat-toolbar>
