
.help {
  position: absolute;
  top: 5px;
  right: 30px;
  color: gray;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 5px;
    color: gray;
}

mat-card-title {
    color: #3f51b5;
}

.move-cursor {
    cursor: move;
}
.icon-button{
  text-decoration: none;
  all:unset;
}
